* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: norse-bold;
    src: url(./resources/Norse-Bold.otf);
}

.page-container{
    display: flex;
    flex: 1;
    height: 100vh;
    width: 100vw;

    background-color: #FAF9F6;
}

.left-side-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    padding-top: 25vh;

    background-image: url(./resources/daniel-boberg-unsplash.jpg);

}

.credit-container {
    color: white;
    margin-top: auto;
    margin-bottom: 10px;
    align-self: center;
}

.credit-link {
    color: white;
}

.logo-container {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: norse-bold;
    font-size: 6rem;

    background-color: hsla(0, 0%, 0%, 50%);
}
.logo-image {
    max-width: 100%;
    max-height: 100%;
}

.content-container {
    width: 65vw;
    background-color: #FAF9F6;
}

.signup-form-header{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;

    height: 35vh;
    max-width: 53ch;
    font-size: 1.5rem;
    padding-top: 15vh;
    padding-left: 2rem;
}

.signup-form {
    flex: 1;
    height: 30vh;

    background-color: white;
}