* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: norse-bold;
    src: url(./resources/Norse-Bold.otf);
}

:root {
    --avg-color: rgb(50, 56, 54);
    --shadow: 5px 5px 5px lightgray;
}

.page-container{
    display: flex;
    flex: 1;
    height: 100vh;
    width: 100vw;

    background-color: #FAF9F6;
}

.left-side-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    padding-top: 25vh;

    background-image: url(./resources/daniel-boberg-unsplash.jpg);

}

.credit-container {
    color: white;
    margin-top: auto;
    margin-bottom: 10px;
    align-self: center;
}

.credit-link {
    color: white;
}

.logo-container {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: norse-bold;
    font-size: 6rem;

    background-color: hsla(0, 0%, 0%, 50%);
}
.logo-image {
    max-width: 100%;
    max-height: 100%;
}

.content-container {
    width: 65vw;
    background-color: #FAF9F6;
}

.signup-form-header{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;

    max-height: 35vh;
    max-width: 55ch;
    font-size: 1.5rem;
    padding-top: 15vh;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    min-height: 30vh;
    padding: 2rem;
    padding-right: 20vw;
    box-shadow: var(--shadow);

    background-color: white;
}

.signup-form legend {
    font-size: 2rem;
}

.form-row {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.form-group label {
    font-size: 14px;
}

.form-row input {
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    padding: 7px;
    font-size: 14px;
}

.submit-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;  
}

.submit-button {
    color: white;
    background-color: var(--avg-color);
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: var(--shadow);
}

.submit-button:hover {
    cursor: pointer;
    border: 2px solid lightblue !important;
    outline: none;
}

input:focus {
    border: 1px solid lightblue !important;
    box-shadow: var(--shadow);
    outline: none;
}

input[id*="password"]:invalid {
    border: 1px solid red;
    outline: none;
}

.login-link {
    text-decoration: none;
    color: var(--avg-color);
    font-weight: bold;
}